# Virtual env
.venv/
venv
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Testing
.pytest_cache/
.coverage
htmlcov/
.cache

# Packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#Jupyter
.ipynb-checkpoints/

#Mypy
.mypy-cache/

#Ruff
.ruff-cache/

#logs
*.log